{% assign curricula = "swc-gapminder|swc-inflammation"  | split: "|" %}
{% unless curricula contains site.curriculum %}
{% include warning-curriculum.html %}
{% endunless %}

<div>
  <h3>Download files</h3>

  You need to download some files to follow this lesson.
  <br/>
  <ol>
    <li>Download <a href="https://swcarpentry.github.io/shell-novice/data/shell-lesson-data.zip">shell-lesson-data.zip</a> and move the file to your Desktop.</li>
    <li>Unzip/extract the file. Let your instructor know if you need help with this step. You should end up with a new folder called shell-lesson-data on your Desktop.</li>
  </ol>
</div>

{% include install_instructions/shell.html %}

<br/>
<div class="alert alert-warning">
  <h4>Note for Windows Users</h4>
  <ul>
    <li>If you have used <strong>Windows Subsystem for Linux ("WSL2")</strong> please open your Ubuntu bash terminal and follow the <strong>Linux</strong> instructions for each of the software packages below.</li>
    <li>If not, please follow the <strong>Windows</strong> instructions.</li>
  </ul>
</div>





{% comment %}
The following setup instructions are commented out because Carpentries workshops
cover the these topics less frequently. Please uncomment the lines that
correspond to the topics covered in your workshop.

{% include install_instructions/sql.html %}
{% include install_instructions/openrefine.html %}
{% endcomment %}
